<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <!--MAD-->
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User
         Instance=True"
         providerName="System.Data.SqlClient" />
    <add name="SQL"
         connectionString="data source=DESKTOP-LUAC4QA\SQLEXPRESS;Initial Catalog=HydroLAN; User ID=sa;Password=qwerty"
         providerName="System.Data.SqlClient" />
    <add name="HydroLAN"
         connectionString="data source=DESKTOP-LUAC4QA\SQLEXPRESS;Initial Catalog=HydroLAN;persist security info=True;Integrated Security=SSPI"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--AAVD-->
  <appSettings>
    <!--
<add key ="Cluster" value="127.0.0.1:9042"/>
-->
    <add key ="HostCQL" value="127.0.0.1"/>
    <add key ="keyspace" value="hydrolan"/>
  </appSettings>
  
</configuration>